
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 col-md-offset-1">
          <div class="movies img-wrap">
            <p>{{this.Title}}</p>
            {{!-- this is an api call through the OMDB poster api, using the api key 7c212437 --}}
            <img src="http://img.omdbapi.com/?i={{this.imdbID}}&apikey=7c212437" height="300" width="250">
          </div> 
          <div id="add_movie_button" class="watched"><button type="button">Add</button></div>   
      </div>
      <div class="col-md-8"></div>
    </div>
  </div>   
  <!-- END CONTAINER FLUID FOR MOVIE TILE -->