
  <div class="container-fluid">
      <ul id="filters">
      <li id="all_user_movies">All</li>
      <li id="watched_filter">Watched</li>
      <li id="unwatched_filter">Unwatched</li>
      <li id="user_favorites">Favorites</li>
    </ul>

  <div class="row">
      {{!-- for each movie on user, add a column for it --}}
      {{#each this}}
      <div id="title_{{this.imdbID}}" class="col-md-2 col-md-offset-1 movieOutput">

    {{!-- this is a hidden span, to help search firebase --}}
      <span class="hiddenSpanId">{{this.movieName}}</span>
      <span class="hiddenSpanRating">{{this.rating}}</span>
        <div id="movie_stats" class="movies img-wrap">
            <img src="http://img.omdbapi.com/?i={{this.imdbID}}&apikey=7c212437" height="300" width="250"><span class="glyphicon glyphicon-remove"></span>
          </div> 
              <div id="add_movie_button" class="watched"><button type="button">Add</button></div>   

      </div>

         {{/each}}
    {{!-- end else --}}
    </div>