<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <!-- This is the Find Movie button that is set up as a modal button for testing -->
          <li class="active">
            <input id="search_for_movies" type="text" placeholder="Search Movies ...">
          {{!-- <button type="button" id="find_movies_btn">Find Movies</button> --}}
          </li>
          {{!-- <button id="search_movies_btn">Search Movies</button> --}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log Out</a></li>  
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="main_ouput">
    

  </div>

  <!-- This is the modal page that will appear when the "add file is selected" -->

  <!-- Modal -->
  {{!-- <div class="modal fade" id="find_movies_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Enter a Title Below</h4>
          </div>
          <div class="modal-body">
            <input id="find_move_input" type="text" placeholder="Title">
          </div>
          <div class="modal-footer">
  
            <button type="button" id="search_for_movies" class="btn btn-primary" data-dismiss="modal">Search</button>
          </div>
        </div>
      </div>
    </div>
 --}}
  <!-- This is the code to test the tile HTMl for the movie posters -->
