<!-- **** splash moqup **** used css to style a box just for visual aid so don't forget to delete that css styling **** -->
	<div id="splash_panel">
			<button id="logInButton">Log In</button>
			<button id="registerButton">Register</button>
	</div>	

	<!--  **** log in module moqup **** used css to style a box just for visual aid so don't forget to delete that css styling -->
		<div id="login_panel">
				<input id="logInEmail" type="email" placeholder="Enter your email address">
				<input id="logInPassword" type="password" placeholder="Enter your password">
				<button id="logInSubmit">Submit</button>
		</div>	

		<!-- **** register module moqup **** used css to style a box just for visual aid so don't forget to delete that css styling -->
	<div id="register_panel">
				<input id="registerEmail" type="email" placeholder="Enter email address">
				<input id="registerPassword" type="password" placeholder="Create your password">
				<input id="confirmPassword" type="password" placeholder="Confirm your password">
				<button id="registerSubmit">Submit</button>
		</div>	