<!-- **** splash moqup **** used css to style a box just for visual aid so don't forget to delete that css styling **** -->
	<div id="splash">
			<button>Log In</button>
			<button>Register</button>
	</div>	

	<!--  **** log in module moqup **** used css to style a box just for visual aid so don't forget to delete that css styling -->
		<div id="login">
				<input type="text" placeholder="Enter your email address">
				<input type="text" placeholder="Enter your password">
				<button>Submit</button>
		</div>	

		<!-- **** register module moqup **** used css to style a box just for visual aid so don't forget to delete that css styling -->
	<div id="register">
				<input type="text" placeholder="Enter email address">
				<input type="text" placeholder="Create your password">
				<input type="text" placeholder="Confirm your password">
				<button>Submit</button>
		</div>	