<!-- **** splash moqup **** used css to style a box just for visual aid so don't forget to delete that css styling **** -->
	<div id="splash_panel" class="jumbotron">
			<button id="logInButton" class="btn btn-block">Log In</button>
			<button id="registerButton" class="btn btn-block">Register</button>
	</div>	

	<!--  **** log in module moqup **** used css to style a box just for visual aid so don't forget to delete that css styling -->
		<div id="login_panel"  class="jumbotron">
				<label for="log_email">Email:</label>
				<input id="logInEmail" name="log_email" class="form-control" type="email" placeholder="Enter your email address">
				<label for="log_pass">Password:</label>
				<input id="logInPassword" name="log_pass" class="form-control" type="password" placeholder="Enter your password">
				<button id="logInSubmit" class="btn btn-block">Submit</button>
		</div>	

		<!-- **** register module moqup **** used css to style a box just for visual aid so don't forget to delete that css styling -->
	<div id="register_panel" class="jumbotron">
				<input id="registerEmail" class="form-control" type="email" placeholder="Enter email address">
				<input id="registerPassword" class="form-control" type="password" placeholder="Create your password">
				<input id="confirmPassword" class="form-control" type="password" placeholder="Confirm your password">
				<button id="registerSubmit" class="btn btn-block">Submit</button>
		</div>	