<div id="title_{{movieName}}" class="col-md-2 col-md-offset-1 unwatched">
    		<div id="movie_stats" class="movies img-wrap">
            <img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=7c212437" height="300" width="250"><span class="close">x</span>
          </div> 
          <div id="add_movie_button" class="watched"><button type="button">Watched</button></div>
    	</div>