<div id="title_{{movieName}}" class="col-md-2 col-md-offset-1 watched">
    		<div id="movie_stats" class="movies img-wrap">
            <img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=7c212437" height="300" width="250"><span class="close">x</span>
          </div> 
          <div>
            <span class="glyphicon glyphicon-star star-1" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star star-2" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star star-3" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star star-4" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star star-5" aria-hidden="true"></span>
          </div>
    	</div>